backend/btwsbe/target
backend/btwsbe/.idea
backend/btwsbe/btwsbe.iml

backend/wildfly-17.0.1.Final/*
!backend/wildfly-17.0.1.Final/standalone
backend/wildfly-17.0.1.Final/standalone/*
!backend/wildfly-17.0.1.Final/standalone/configuration
backend/wildfly-17.0.1.Final/standalone/configuration/*
!backend/wildfly-17.0.1.Final/standalone/configuration/standalone.xml

