
.theme-button.p-button {
    border-radius: 1rem 0 0 1rem !important;
    background-color: #e8e8e8 !important;
}

.theme-button.p-button, .theme-button.p-button:hover {
    color: #9f9f9f !important;
}
